*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
:root{
    --cor-preta:#0C0808;
    --cor-verdinho: #43655a;
    --cor-branco: #FFFFFF;
    --fonte:'Ephesis', cursive;
}
.frete1{
    background-color: var(--cor-preta);
}
.frete2{
    color: var(--cor-branco);
    font-family:'Gemunu Libre', sans-serif;
    font-size: 35px;
    text-align: center;

}

.quemsomos{
    font-family:var(--fonte);
    color:var(--cor-preta);
}
.somos{
    font-family: 'Montserrat', sans-serif;
    font-size:1.6rem;
    text-align: center;
}

body{
    text-align: center;
}

h3{
    margin-top: 5%;
    font-family:'Gemunu Libre', sans-serif;
}
.horarios{
    font-family:'Gemunu Libre', sans-serif;
    font-size: 1.6rem;
}
.sociais{
    display: flex;
    justify-content:center;
    
}

li{
    margin-left: 43%;
    font-size: 1.1rem;
}

.menu-principal{
    width: 50%;
    align-items: center;
    font-family:'Gemunu Libre', sans-serif;
    font-size: 1.5rem;
}
.menu-principal > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    
}
.menu-principal a{
    text-decoration: none;
    color:var(--cor-preta);
    font-weight: bold;
    
    
}
.menu-principal a:hover,
.menu-principal a.atual{
    color: var(--cor-verdinho);
    border-bottom: .07rem solid var(--cor-verdinho);
}
 
.textsocial a{
    text-decoration: none;
    color:var(--cor-preta);
    font-weight: bold;

}
.cadastro{
    text-align: center;
}
.CampoFormulario{

 padding: 2rem;
 max-width: 600px;
 margin: 2rem auto;
}

.campo-formulario{
    margin: 1rem;

}
.campo-formulario input, .campo-formulario select, .campo-formulario textarea{
    width: 100%;
    padding: 1rem;

}

.campo-formulario input[type=radio]{
    width: initial;
    margin: 0rem 0rem 0rem 0rem;
}
.campo-formulario fieldset{
    padding: 2rem;
}



